<header>
    <div class="logo">sample page</div>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/projects">Projects</a>
        </li>
    </ul>
    </nav>
  </header>
  
  <style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: rgb(219, 219, 219);
    }

    ul {
        display: flex;
        gap: 2rem;
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
  </style>