---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

const pageTitle = "About Me"
---

<Layout>
    <main>
        <h1 class="main-contents">{pageTitle}</h1>
        <p class="main-contents main-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem doloremque vel accusantium ea assumenda voluptate repellendus maiores culpa illo excepturi? Similique culpa iste nemo sint magnam tempore amet, eum sequi.
        Quam voluptatibus esse fugit culpa quo. Pariatur voluptatem sint adipisci? Voluptates consequatur obcaecati natus repudiandae accusamus ut. Quas ratione nemo similique fuga, doloremque, perferendis voluptas excepturi eum autem quisquam voluptates.
        Reiciendis quod, deserunt possimus laboriosam, doloribus dolores veniam, molestiae consequatur maxime accusantium sit assumenda! Reiciendis temporibus numquam maiores sed nemo. Ab quod ipsam dolores dolorum quam laborum temporibus! Perferendis, fugit.
        Voluptate, dignissimos officiis. Incidunt maiores, sunt alias beatae autem consequatur voluptates officiis temporibus accusantium quia suscipit perspiciatis accusamus ad illo? Aspernatur natus qui impedit aut fuga sequi ex nihil corrupti?
        Exercitationem similique doloribus quia assumenda, inventore esse soluta facilis sit dignissimos reprehenderit itaque maxime libero obcaecati voluptates amet, dolores quam nam quas aliquid commodi debitis repudiandae consequuntur? Quo, asperiores quia.</p>
    </main>
</Layout>